.searchbar-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 719px;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  color: #3A1351;
  font-weight: 500;
}

.searchbar-search {
  display: flex;
  background: #FFFFFF;
  border-radius: 8px;
  width: 400px;
  height: 30px;
}

.searchbar-search::placeholder {
  text-align: center;
}



.searchbar-h1 {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.searchbar-button {
  width: 117px;
  height: 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: darkgoldenrod;
  border-radius: 8px;
  color: white;
  background: linear-gradient(162deg, #2d0c30, #9c2b76, #2d0c30);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 14% 0%
  }

  50% {
    background-position: 87% 100%
  }

  100% {
    background-position: 14% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 14% 0%
  }

  50% {
    background-position: 87% 100%
  }

  100% {
    background-position: 14% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 14% 0%
  }

  50% {
    background-position: 87% 100%
  }

  100% {
    background-position: 14% 0%
  }
}

.searchbar-button:hover {
  box-shadow: inset 0 0 15px #f8a10060
}

@media screen and (max-width: 525px) {
  .searchbar-button {
    margin-top: 15px;
  }
}