.searchbar-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  color: #3A1351;
  font-weight: 500;
}

.searchbar-search {
  display: flex;
  background: #FFFFFF;
  border-radius: 8px;
  width: 400px;
  height: 30px;
 }

.searchbar-h1 {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

.searchbar-button{
width: 117px;
height: 41px;
background: radial-gradient(91.46% 271.45% at 50% 50%, #9c2b76 0%, #3A1351 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-color: darkgoldenrod;
border-radius: 8px;
color: white;
}