.cardplayer-container {
  display: block;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: -280px;
}

.cardplayer-graph {
  position: relative;
  bottom: 90px;
  z-index: 1;
  transform: scale(115%);
}

.cardplayer-nickname {
  position: relative;
  margin: auto;
  bottom: 295px;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
   color: #FFFFFF;
}

.cardplayer-balance{
  position: relative;
  margin: auto;
  bottom: 189px;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
   color: #FFFFFF;
   z-index: 2;
}

.cardplayer-id{
  position: relative;
  margin: auto;
  bottom: 209px;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  right: 73px;
}

.cardplayer-status{
  position: relative;
  margin: auto;
  bottom: 290px;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  right: 50px;
}

.cardplayer-avatar{
  position: relative;
  margin: auto;
  bottom: 369px;
  width: 135px;
  left: 75px;
}

.cardplayer-card{
  width: 280px;
}