.cardplayer-container {
  display: block;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: -280px;
}


.cardplayer-container:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, -1px, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 1px, 0);
  }
}

.cardplayer-graph {
  position: relative;
  bottom: 90px;
  z-index: 1;
  transform: scale(115%);
}

.cardplayer-nickname {
  position: relative;
  margin: auto;
  bottom: 295px;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
   color: #FFFFFF;
}

.cardplayer-balance{
  position: relative;
  margin: auto;
  bottom: 189px;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
   color: #FFFFFF;
   z-index: 2;
}

.cardplayer-id{
  position: relative;
  margin: auto;
  bottom: 209px;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  right: 73px;
}

.cardplayer-status{
  position: relative;
  margin: auto;
  bottom: 290px;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  right: 50px;
}

.cardplayer-avatar{
  position: relative;
  margin: auto;
  bottom: 369px;
  width: 135px;
  left: 75px;
}

.cardplayer-card{
  width: 280px;
}