.cardnotplayer-container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 50px;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite ;
  animation-delay: 2s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 1px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, -1px, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 1px, 0);
  }
}

.cardnotplayer-graph {
  transform: scale(175%);
}

.cardnotplayer-text {
  position: relative;
  bottom: 39px;
  margin: auto;
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}