body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(52.3% 69.73% at 50% 50%, #9c2b76 0%, #2d0c30 100%);
  height: 100vh;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c65f72 0%, #9c2b76 50%, #2d0c30 100%);
  border-radius: 20px;
  border: 2px solid #ffffff5b;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #c65f72 0%, #9c2b76 50%, #2d0c30 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
